:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Grisoscuro: #666;
    --Grisclaro: #ebebeb;
    --Verde: #39b54a;
    --tipoGrafia: "Roboto", sans-serif;

}


/* titulos y tipografia  */
*{
    margin: 0;
}
.home {
    font-family: var(--tipoGrafia);
    font-size: 12px;
    background-color: var(--Grisclaro);

}

.home h2 {
    font-size: 24px;
    margin: 20px;
    text-align: left;
    color: var(--Grisoscuro);
}

.precio {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
}

.descripciones {
    font-size: 16px;
}

.home a {
    text-decoration: none;
    color: black;
}

.texto {
    text-align: center;
    margin: 10px ;
    padding-bottom: 20px;
    
    
}





