:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Grisoscuro: #666;
    --Grisclaro: #ebebeb;
    --Verde: #39b54a;
    --tipoGrafia: "Roboto", sans-serif;

}


/* titulos y tipografia  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--tipoGrafia);
    font-size: 12px;
    background-color: var(--Grisclaro);

}

 h2 {
    font-size: 24px;
    position: relative;
    margin: 20px 30px;
    text-align: left;
    left: 10px;
    color: var(--Grisoscuro);
}

.precio {
    font-size: 18px;
    margin-right: 10px;
    font-weight: 600;
 
}

.descuentos {
    color: var(--Verde);
    font-size: 16px;
   position: relative;
   top: 2px;
}

.descripciones {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

.texto {
    text-align: center;
    margin: 10px ;
    padding-bottom: 20px;
    
    
}
img{
    width: 100%;
}

li{
    list-style: none;
}

h4{
    margin: 10px;
    font-size: 15px;
   
}



