/* MAIN */


.home__main__caja--padre {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;

}


.home__main__div--caja1 {
    width: 320px;
    background-color: #ffff;
    margin-bottom: 10px;
}

.home__main__div--hijo {
    display: flex;
    align-content: center;
    border-top: 1px solid var(--Grisclaro);
    padding: 20px 0px 0px 0px;
}

.descripciones {
    margin-left: 30px;
    margin-top: 20px;
    padding-bottom: 20px;
    color: var(--Grisoscuro);

}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    color: var(--Verde);
    border-radius: 50%;
    position: relative;
    left: 250px;
    top: -35px;

}

@media(min-width: 768px) {

    /* MAIN */

    .home__main__caja--padre {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }



    .home__main__div--caja1 {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 320px;
        padding: 10px;
        background-color: #ffff;
        margin-bottom: 10px;
    }

    .home__main__div--hijo {
        display: flex;
        align-content: center;
        border-top: 1px solid var(--Grisclaro);
        padding: 20px 0px 0px 0px;
    }

    .descripciones {
        margin-left: 30px;
        margin-top: 20px;
        padding-bottom: 20px;
        color: var(--Grisoscuro);

    }

    main section article i {
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #fff;
        color: var(--Verde);
        border-radius: 50%;
        position: relative;
        left: 250px;
        top: -35px;

    }
 

}

@media (min-width:1024px) {

    /* MAIN */

    .home__main__caja--padre {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }



    .home__main__div--caja1 {
        box-shadow: none;
        width: 300px;
        padding: 10px;
        background-color: #ffff;
        margin-bottom: 10px;

    }
    .home__main__div--caja1:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
       

    }

    .home__main__div--hijo {
        display: flex;
        align-content: center;
        border-top: 1px solid var(--Grisclaro);
        padding: 20px 0px 0px 0px;

    }

    .descripciones {
        display: block;
        margin-left: 30px;
        margin-top: 0px;
        padding-bottom: 0px;
        font-weight: 600;
        color: var(--Grisoscuro);
        height: 0;
        overflow: hidden;
        transition: all 0.5s ease ;
    }

    .home__main__section article div:hover .descripciones {
        height: 20px;
    }


    main section article i {
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #fff;
        color: var(--Verde);
        border-radius: 50%;
        position: relative;
        left: 230px;
        top: -35px;

    }
    
    main section article i:hover {
        animation: rotate 2s ease;
 
     }
    @keyframes rotate {
     0% {
         transform: rotate(0deg);
     }
     50%{
         transform: rotate(-90deg);
     }
     100%{
         transform: rotate(0deg);
     }
 
    }



}